services:
  api_gateway:
    profiles:
      - all
      - pipeline
      - connector
      - model
      - mgmt
      - console
    image: instill/${API_GATEWAY_HOST}:latest
    restart: unless-stopped
    environment:
      API_GATEWAY_LOG_LEVEL: DEBUG

  pipeline_backend_migrate:
    profiles:
      - all
      - api-gateway
      - connector
      - model
      - console
      - mgmt
    image: instill/${PIPELINE_BACKEND_HOST}:latest

  pipeline_backend:
    profiles:
      - all
      - api-gateway
      - connector
      - model
      - console
      - mgmt
    image: instill/${PIPELINE_BACKEND_HOST}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION:-local-ce:unknown}
    ports:
      - ${PIPELINE_BACKEND_PORT}:${PIPELINE_BACKEND_PORT}

  connector_backend_migrate:
    profiles:
      - all
      - api-gateway
      - pipeline
      - model
      - mgmt
      - console
    image: instill/${CONNECTOR_BACKEND_HOST}:latest

  connector_backend_init:
    profiles:
      - all
      - api-gateway
      - pipeline
      - model
      - mgmt
      - console
    image: instill/${CONNECTOR_BACKEND_HOST}:latest

  connector_backend_worker:
    profiles:
      - all
      - api-gateway
      - pipeline
      - model
      - mgmt
      - console
    image: instill/${CONNECTOR_BACKEND_HOST}:latest

  connector_backend:
    profiles:
      - all
      - api-gateway
      - pipeline
      - model
      - mgmt
      - console
    image: instill/${CONNECTOR_BACKEND_HOST}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION:-local-ce:unknown}
    ports:
      - ${CONNECTOR_BACKEND_PORT}:${CONNECTOR_BACKEND_PORT}

  model_backend_migrate:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - mgmt
      - console
    image: instill/${MODEL_BACKEND_HOST}:latest

  model_backend_init:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - mgmt
      - console
    image: instill/${MODEL_BACKEND_HOST}:latest

  model_backend_worker:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - mgmt
      - console
    image: instill/${MODEL_BACKEND_HOST}:latest
    environment:
      CFG_SERVER_DEBUG: "true"

  model_backend:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - mgmt
      - console
    image: instill/${MODEL_BACKEND_HOST}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION:-local-ce:unknown}
    ports:
      - ${MODEL_BACKEND_PORT}:${MODEL_BACKEND_PORT}

  mgmt_backend_migrate:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - console
    image: instill/${MGMT_BACKEND_HOST}:latest

  mgmt_backend_init:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - console
    image: instill/${MGMT_BACKEND_HOST}:latest

  mgmt_backend:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - console
    image: instill/${MGMT_BACKEND_HOST}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION:-local-ce:unknown}
    ports:
      - ${MGMT_BACKEND_PUBLICPORT}:${MGMT_BACKEND_PUBLICPORT}
      - ${MGMT_BACKEND_ADMINPORT}:${MGMT_BACKEND_ADMINPORT}

  console:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - mgmt
    image: instill/${CONSOLE_HOST}:latest
    environment:
      NEXT_PUBLIC_DISABLE_USAGE_COLLECTION: "false"
      NEXT_PUBLIC_CONSOLE_EDITION: ${EDITION:-local-ce:unknown}
      NODE_ENV: development
    ports:
      - ${CONSOLE_PORT}:${CONSOLE_PORT}

  triton_conda_env:
    image: instill/triton-conda-env:latest-${TRITON_CONDA_ENV_PLATFORM}

  triton_server:
    ports:
      - ${TRITON_SERVER_PORT}:8001

  pg_sql:
    ports:
      - ${POSTGRESQL_PORT}:5432

  elasticsearch:
    ports:
      - ${ELASTICSEARCH_PORT}:9200

  temporal:
    ports:
      - ${TEMPORAL_PORT}:7233

  temporal_ui:
    ports:
      - ${TEMPORAL_UI_PORT}:8080

  redis:
    ports:
      - ${REDIS_PORT}:6379
