version: "3.9"

services:
  api_gateway_vdp:
    profiles:
      - all
      - api-gateway-base
      - mgmt
      - console
      - pipeline
      - connector
      - controller-vdp
      - api-gateway-model
      - model
      - controller-model
    image: ${API_GATEWAY_VDP_IMAGE}:latest
    environment:
      API_GATEWAY_LOG_LEVEL: DEBUG

  pipeline_backend_migrate:
    profiles:
      - all
      - api-gateway-base
      - mgmt
      - console
      - api-gateway-vdp
      - connector
      - controller-vdp
      - api-gateway-model
      - model
      - controller-model
    image: ${PIPELINE_BACKEND_IMAGE}:latest

  pipeline_backend:
    profiles:
      - all
      - api-gateway-base
      - mgmt
      - console
      - api-gateway-vdp
      - connector
      - controller-vdp
      - api-gateway-model
      - model
      - controller-model
    image: ${PIPELINE_BACKEND_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}
    ports:
      - ${PIPELINE_BACKEND_PRIVATEPORT}:${PIPELINE_BACKEND_PRIVATEPORT}
      - ${PIPELINE_BACKEND_PUBLICPORT}:${PIPELINE_BACKEND_PUBLICPORT}

  pipeline_backend_worker:
    profiles:
      - all
      - api-gateway-base
      - mgmt
      - console
      - api-gateway-vdp
      - connector
      - controller-vdp
      - api-gateway-model
      - model
      - controller-model
    image: ${PIPELINE_BACKEND_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}

  connector_backend_migrate:
    profiles:
      - all
      - api-gateway-base
      - mgmt
      - console
      - api-gateway-vdp
      - pipeline
      - controller-vdp
      - api-gateway-model
      - model
      - controller-model
    image: ${CONNECTOR_BACKEND_IMAGE}:latest

  connector_backend_init:
    profiles:
      - all
      - api-gateway-base
      - mgmt
      - console
      - api-gateway-vdp
      - pipeline
      - controller-vdp
      - api-gateway-model
      - model
      - controller-model
    image: ${CONNECTOR_BACKEND_IMAGE}:latest

  connector_backend:
    profiles:
      - all
      - api-gateway-base
      - mgmt
      - console
      - api-gateway-vdp
      - pipeline
      - controller-vdp
      - api-gateway-model
      - model
      - controller-model
    image: ${CONNECTOR_BACKEND_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}
    ports:
      - ${CONNECTOR_BACKEND_PRIVATEPORT}:${CONNECTOR_BACKEND_PRIVATEPORT}
      - ${CONNECTOR_BACKEND_PUBLICPORT}:${CONNECTOR_BACKEND_PUBLICPORT}

  controller_vdp:
    profiles:
      - all
      - api-gateway-base
      - mgmt
      - console
      - api-gateway-vdp
      - pipeline
      - connector
      - api-gateway-model
      - model
      - controller-model
    image: ${CONTROLLER_VDP_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}
    ports:
      - ${CONTROLLER_VDP_PRIVATEPORT}:${CONTROLLER_VDP_PRIVATEPORT}
