services:
  api_gateway:
    profiles:
      - all
      - exclude-mgmt
      - exclude-console
      - exclude-pipeline
      - exclude-model
      - exclude-artifact
    image: ${API_GATEWAY_IMAGE}:${API_GATEWAY_VERSION}
    build:
      context: ./${API_GATEWAY_HOST}
      args:
        SERVICE_NAME: api-gateway
        GOLANG_VERSION: 1.22.2
        ALPINE_VERSION: 3.18
        KRAKEND_CE_VERSION: ${KRAKEND_CE_VERSION}

  mgmt_backend:
    profiles:
      - all
      - exclude-api-gateway
      - exclude-console
      - exclude-pipeline
      - exclude-model
      - exclude-artifact
    image: ${MGMT_BACKEND_IMAGE}:${MGMT_BACKEND_VERSION}
    build:
      context: ./${MGMT_BACKEND_HOST}
      args:
        SERVICE_NAME: ${MGMT_BACKEND_HOST}
        GOLANG_VERSION: ${GOLANG_VERSION}

  pipeline_backend:
    profiles:
      - all
      - exclude-api-gateway
      - exclude-mgmt
      - exclude-console
      - exclude-model
      - exclude-artifact
    image: ${PIPELINE_BACKEND_IMAGE}:${PIPELINE_BACKEND_VERSION}
    build:
      context: ./${PIPELINE_BACKEND_HOST}
      args:
        SERVICE_NAME: ${PIPELINE_BACKEND_HOST}
        GOLANG_VERSION: ${GOLANG_VERSION}

  model_backend:
    profiles:
      - all
      - exclude-api-gateway
      - exclude-mgmt
      - exclude-console
      - exclude-pipeline
      - exclude-artifact
    image: ${MODEL_BACKEND_IMAGE}:${MODEL_BACKEND_VERSION}
    build:
      context: ./${MODEL_BACKEND_HOST}
      args:
        SERVICE_NAME: ${MODEL_BACKEND_HOST}
        GOLANG_VERSION: ${GOLANG_VERSION}
        UBUNTU_VERSION: ${UBUNTU_VERSION}
        ARTIVC_VERSION: ${ARTIVC_VERSION}

  console:
    profiles:
      - all
      - exclude-api-gateway
      - exclude-mgmt
      - exclude-pipeline
      - exclude-model
      - exclude-artifact
    image: ${CONSOLE_IMAGE}:${CONSOLE_VERSION}
    build:
      context: ./${CONSOLE_HOST}

  console_playwright:
    profiles:
      - all
      - exclude-api-gateway
      - exclude-mgmt
      - exclude-pipeline
      - exclude-model
      - exclude-artifact
    image: ${CONSOLE_IMAGE}-playwright:${CONSOLE_VERSION}
    build:
      context: ./${CONSOLE_HOST}
      dockerfile: Dockerfile.playwright
      args:
        TEST_USER: "root"
  artifact_backend:
    profiles:
      - all
      - exclude-api-gateway
      - exclude-mgmt
      - exclude-console
      - exclude-pipeline
      - exclude-model
    image: ${ARTIFACT_BACKEND_IMAGE}:${ARTIFACT_BACKEND_VERSION}
    build:
      context: ./${ARTIFACT_BACKEND_HOST}
      args:
        SERVICE_NAME: ${ARTIFACT_BACKEND_HOST}
        GOLANG_VERSION: ${GOLANG_VERSION}
