services:
  api_gateway:
    profiles:
      - all
      - pipeline
      - connector
      - model
      - mgmt
      - console
      - controller
    image: ${API_GATEWAY_IMAGE}:latest
    restart: unless-stopped
    environment:
      API_GATEWAY_LOG_LEVEL: DEBUG

  pipeline_backend_migrate:
    profiles:
      - all
      - api-gateway
      - connector
      - model
      - console
      - mgmt
      - controller
    image: ${PIPELINE_BACKEND_IMAGE}:latest

  pipeline_backend:
    profiles:
      - all
      - api-gateway
      - connector
      - model
      - console
      - mgmt
      - controller
    image: ${PIPELINE_BACKEND_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}
    ports:
      - ${PIPELINE_BACKEND_PRIVATEPORT}:${PIPELINE_BACKEND_PRIVATEPORT}
      - ${PIPELINE_BACKEND_PUBLICPORT}:${PIPELINE_BACKEND_PUBLICPORT}

  connector_backend_migrate:
    profiles:
      - all
      - api-gateway
      - pipeline
      - model
      - mgmt
      - console
      - controller
    image: ${CONNECTOR_BACKEND_IMAGE}:latest

  connector_backend_init:
    profiles:
      - all
      - api-gateway
      - pipeline
      - model
      - mgmt
      - console
      - controller
    image: ${CONNECTOR_BACKEND_IMAGE}:latest

  connector_backend_worker:
    profiles:
      - all
      - api-gateway
      - pipeline
      - model
      - mgmt
      - console
      - controller
    image: ${CONNECTOR_BACKEND_IMAGE}:latest

  connector_backend:
    profiles:
      - all
      - api-gateway
      - pipeline
      - model
      - mgmt
      - console
      - controller
    image: ${CONNECTOR_BACKEND_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}
    ports:
      - ${CONNECTOR_BACKEND_PRIVATEPORT}:${CONNECTOR_BACKEND_PRIVATEPORT}
      - ${CONNECTOR_BACKEND_PUBLICPORT}:${CONNECTOR_BACKEND_PUBLICPORT}

  model_backend_migrate:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - mgmt
      - console
      - controller
    image: ${MODEL_BACKEND_IMAGE}:latest

  model_backend_init:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - mgmt
      - console
      - controller
    image: ${MODEL_BACKEND_IMAGE}:latest

  model_backend_worker:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - mgmt
      - console
      - controller
    image: ${MODEL_BACKEND_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"

  model_backend:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - mgmt
      - console
      - controller
    image: ${MODEL_BACKEND_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}
    ports:
      - ${MODEL_BACKEND_PRIVATEPORT}:${MODEL_BACKEND_PRIVATEPORT}
      - ${MODEL_BACKEND_PUBLICPORT}:${MODEL_BACKEND_PUBLICPORT}

  mgmt_backend_migrate:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - console
      - controller
    image: ${MGMT_BACKEND_IMAGE}:latest

  mgmt_backend_init:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - console
      - controller
    image: ${MGMT_BACKEND_IMAGE}:latest

  mgmt_backend:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - console
      - controller
    image: ${MGMT_BACKEND_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}
    ports:
      - ${MGMT_BACKEND_PRIVATEPORT}:${MGMT_BACKEND_PRIVATEPORT}
      - ${MGMT_BACKEND_PUBLICPORT}:${MGMT_BACKEND_PUBLICPORT}

  controller:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - mgmt
      - console
    image: ${CONTROLLER_IMAGE}:latest
    environment:
      CFG_SERVER_DEBUG: "true"
      CFG_SERVER_EDITION: ${EDITION}
    ports:
      - ${CONTROLLER_PRIVATEPORT}:${CONTROLLER_PRIVATEPORT}

  console:
    profiles:
      - all
      - api-gateway
      - pipeline
      - connector
      - model
      - mgmt
      - controller
    image: ${CONSOLE_IMAGE}:latest
    environment:
      NEXT_PUBLIC_DISABLE_USAGE_COLLECTION: "false"
      NEXT_PUBLIC_CONSOLE_EDITION: ${EDITION}
      NODE_ENV: development
    ports:
      - ${CONSOLE_PORT}:${CONSOLE_PORT}

  triton_conda_env:
    image: instill/triton-conda-env:latest-${TRITON_CONDA_ENV_PLATFORM}

  triton_server:
    ports:
      - ${TRITON_SERVER_PORT}:8001

  pg_sql:
    ports:
      - ${POSTGRESQL_PORT}:5432

  elasticsearch:
    ports:
      - ${ELASTICSEARCH_PORT}:9200

  temporal:
    ports:
      - ${TEMPORAL_PORT}:7233

  temporal_ui:
    ports:
      - ${TEMPORAL_UI_PORT}:8080

  redis:
    ports:
      - ${REDIS_PORT}:6379

  etcd:
    ports:
      - ${ETCD_CLIENT_PORT}:${ETCD_CLIENT_PORT}
