apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "core.artifactBackend" . }}
  labels:
    {{- include "core.labels" . | nindent 4 }}
    app.kubernetes.io/component: artifact-backend
data:
  config.yaml: |+
    server:
      privateport: {{ template "core.artifactBackend.privatePort" . }}
      publicport: {{ template "core.artifactBackend.publicPort" . }}
      edition: {{ .Values.edition }}
      usage:
        {{- toYaml .Values.usage | nindent 8 }}
      debug: {{ ternary "true" "false" (eq (.Values.logLevel | upper) "DEBUG") }}
      {{- if .Values.internalTLS.enabled }}
      https:
        cert: /etc/instill-ai/core/ssl/artifact/tls.crt
        key: /etc/instill-ai/core/ssl/artifact/tls.key
      {{- end }}
      maxdatasize: {{ .Values.maxDataSizeMB }}
    database:
      username: {{ default (include "core.database.username" .) .Values.database.external.username }}
      password: {{ default (include "core.database.rawPassword" .) .Values.database.external.password }}
      host: {{ default (include "core.database.host" .) .Values.database.external.host }}
      port: {{ default (include "core.database.port" .) .Values.database.external.port }}
      {{- if .Values.database.external_replica }}
      replica:
        username: {{ .Values.database.external_replica.username | default "" }}
        password: {{ .Values.database.external_replica.password | default ""  }}
        host: {{ .Values.database.external_replica.host | default ""  }}
        port: {{ .Values.database.external_replica.port | default ""  }}
        replicationtimeframe: 1
      {{- end }}
      name: artifact
      version: {{ .Values.artifactBackend.dbVersion }}
      timezone: Etc/UTC
      pool:
        idleconnections: {{ .Values.database.maxIdleConns }}
        maxconnections: {{ .Values.database.maxOpenConns }}
        connlifetime: {{ .Values.database.maxConnLifeTime }}
    cache:
      redis:
        redisoptions:
          addr: {{ default (include "core.redis.addr" .) .Values.redis.external.addr }}
    influxdb:
      url: {{ .Values.influxdbCloud.url }}
      token: {{ .Values.influxdbCloud.token }}
      org: {{ .Values.influxdbCloud.organization }}
      bucket: {{ .Values.influxdbCloud.bucket }}
      flushinterval: 10 # In seconds for non-blocking batch mode
      https:
        cert:
        key:
    log:
      external: {{ .Values.tags.observability }}
      otelcollector:
        host: {{ template "core.otel" . }}
        port: {{ template "core.otel.port" . }}
    openfga:
      host: {{ template "core.openfga" . }}
      port: 8081
      {{- if .Values.database.external_replica }}
      replica:
        host: {{ template "core.openfga" . }}
        port: 8083
        replicationtimeframe: 1
      {{- end }}
    registry:
      host: {{ template "core.registry" . }}
      port: {{ template "core.registry.port" . }}
    minio:
      host: {{ template "core.minio" . }}
      port: {{ .Values.artifactBackend.minio.port }}
      user: {{ .Values.artifactBackend.minio.user }}
      password: {{ .Values.artifactBackend.minio.password }}
      bucketname: {{ .Values.artifactBackend.minio.bucketname }}
    mgmtbackend:
      host: {{ template "core.mgmtBackend" . }}
      publicport: {{ template "core.mgmtBackend.publicPort" . }}
      privateport: {{ template "core.mgmtBackend.privatePort" . }}
    pipelinebackend:
      host: {{ template "core.pipelineBackend" . }}
      publicport: {{ template "core.pipelineBackend.publicPort" . }}
      privateport: {{ template "core.pipelineBackend.privatePort" . }}
    modelbackend:
      host: {{ template "core.modelBackend" . }}
      publicport: {{ template "core.modelBackend.publicPort" . }}
      privateport: {{ template "core.modelBackend.privatePort" . }}
    milvus:
      host: {{ template "core.milvus" . }}
      port: {{ template "core.milvus.port" . }}
    filetoembeddingworker:
      numberofworkers: {{ .Values.artifactBackend.numberOfWorkers }}
    blob:
      hostport: {{ .Values.artifactBackend.blob.hostport }}
