## -- Provide a name in place of vdp
nameOverride: ""
## -- Override the deployment namespace
namespaceOverride: ""
## -- Provide a name to substitute for the full names of resources
fullnameOverride: ""
# -- The update strategy for deployments with persistent volumes: "RollingUpdate" or "Recreate"
# Set it as "Recreate" when "RWM" for volumes isn't supported
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
# -- Logging level: debug, info, warning, error or fatal
logLevel: info
# -- Enable development mode
# if edition is "k8s-ce:dev", console will be launched with CODE_ENV=development. Otherwise, CODE_ENV=production
edition: k8s-ce
# -- The maximum data payload to VDP cluster (MB)
maxDataSizeMB: 12
# -- Use this set to assign a list of default pullSecrets
imagePullSecrets:
# -- The internal TLS used for VDP components secure communicating. In order to enable https
# in each components tls cert files need to provided in advance.
internalTLS:
  # If internal TLS enabled
  enabled: false
  # There are three ways to provide tls
  # 1) "auto" will generate cert automatically
  # 2) "manual" need provide cert file manually in following value
  # 3) "secret" internal certificates from secret
  certSource: "auto"
  # The content of trust ca, only available when `certSource` is "manual"
  trustCa: ""
  # pipeline-backend related cert configuration
  pipeline-backend:
    # secret name for pipeline-backend's tls certs, only available when `certSource` is "secret"
    secretName: ""
    # Content of pipeline-backend's TLS key file, only available when `certSource` is "manual"
    crt: ""
    # Content of pipeline-backend's TLS key file, only available when `certSource` is "manual"
    key: ""
# -- The usage collector configuration
usage:
  enabled: true
  tlsenabled: true
  host: usage.instill.tech
  port: 443
pipelineBackend:
  # -- The image of pipeline-backend
  image:
    repository: instill/pipeline-backend
    tag: 0.21.0-beta
    pullPolicy: IfNotPresent
  # -- Annotation for deployment
  annotations: {}
  # -- The command names to be executed
  commandName:
    migration: pipeline-backend-migrate
    init: pipeline-backend-init
    main: pipeline-backend
    worker: pipeline-backend-worker
  # -- The path of configuration file for pipeline-backend
  configPath: /pipeline-backend/config/config.yaml
  # -- The database migration version
  dbVersion: 10
  # -- workflow setting
  workflow:
    maxWorkflowTimeout: 3600 # in seconds
    maxWorkflowRetry: 3
    maxActivityRetry: 1
  # -- Load the pre-built connector or not
  prebuiltConnectorEnabled: false
  excludelocalconnector: false
  # -- The configuration of Temporal Cloud
  temporal:
    hostPort:
    namespace:
    ca:
    cert:
    key:
    serverName:
  # -- Set the service account to be used, default if left empty
  serviceAccountName: ""
  # -- Mount the service account token
  automountServiceAccountToken: false
  # -- The number of replica for pipeline-backend
  replicaCount: 1
  # -- Add extra env variables
  extraEnv: []
  # -- Mount external volumes
  # For example, mount a secret containing Certificate root CA to verify database
  # TLS connection.
  extraVolumes: []
  # - name: my-volume
  #   secret:
  #     secretName: my-secret
  extraVolumeMounts: []
  # - name: my-volume
  #   mountPath: /etc/secrets/my-secret
  #   readOnly: true
  # -- Add extra init containers
  extraInitContainers: []
  # extraInitContainers:
  #  - name: ...
  #    image: ...
  # -- Add extra sidecar containers
  sidecarContainers: {}
  # -- Additional deployment annotations
  podAnnotations: {}
  # -- Additional service annotations
  serviceAnnotations: {}
  containers:
    pipelineBackend:
      resources: {}
    pipelineBackendWorker:
      resources: {}
  autoscaling:
    enabled: false
    minReplicas:
    maxReplicas:
    targetCPUUtilizationPercentage:
    targetAverageMemoryUtilization:
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podDisruptionBudget:
    enabled: false
    spec:
      minAvailable:
      maxUnavailable:
  copyHostDocker: false
database:
  # -- The host of database
  host:
  # -- The port of database
  port:
  # -- The user name
  username:
  # -- The user password
  password:
  # -- The maximum number of connections in the idle connection pool per pod.
  # If it <=0, no idle connections are retained.
  maxIdleConns: 5
  # -- The maximum number of open connections to the database per pod.
  # If it <= 0, then there is no limit on the number of open connections.
  maxOpenConns: 10
  # -- The maximum amount of time in minutes a connection may be reused.
  # Expired connections may be closed lazily before reuse.
  # If it <= 0, connections are not closed due to a connection's age.
  maxConnLifeTime: 30m
etcd:
  persistence:
    enabled: false
  auth:
    rbac:
      create: false
  autoCompactionMode: revision
  autoCompactionRetention: 1
redis:
  addr:
temporal:
  admintools:
    # -- Enable Temporal admin-tools
    enabled: true
    # -- The image of Temporal admin-tools
    image:
      repository: temporalio/admin-tools
      tag: 1.19.1
      pullPolicy: IfNotPresent
    # -- Set the service account to be used, default if left empty
    serviceAccountName: ""
    # -- Mount the service account token
    automountServiceAccountToken: false
    # -- The number of replica for temporal admin-tools
    replicaCount: 1
    # -- The pod resource
    resources: {}
    ## -- The priority class to run the pod as
    priorityClassName:
    # -- Additional deployment annotations
    podAnnotations: {}
    # -- Additional service annotations
    serviceAnnotations: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
influxdbCloud:
  url: "http://core-influxdb2:8086"
  token: "i-love-instill-ai"
  organization: "instill-ai"
  bucket: "instill-ai"
tags:
  observability: true
