{{- if .Values.openfga.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ template "core.openfga" . }}
spec:
  scaleTargetRef:
    {{- if .Values.tags.argoRollout }}
    apiVersion: argoproj.io/v1alpha1
    kind: Rollout
    {{- else }}
    apiVersion: apps/v1
    kind: Deployment
    {{- end }}
    name: {{ template "core.openfga" . }}
    labels:
    {{- include "core.labels" . | nindent 4 }}
    app.kubernetes.io/component: openfga
  minReplicas: {{ .Values.openfga.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.openfga.autoscaling.maxReplicas }}
  metrics:
{{- with .Values.openfga.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ . }}
{{- end }}
{{- with .Values.openfga.autoscaling.targetAverageMemoryUtilization }}
    - type: Resource
      resource:
        name: memory
        target:
          type: AverageValue
          averageValue: {{ . }}
{{- end }}
{{- end }}
