name: Integration Test Reusable (console)

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string

jobs:
  integration-test-console:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      # mono occupies port 8084 which conflicts with mgmt-backend
      - name: Stop mono service
        run: |
          sudo kill -9 `sudo lsof -t -i:8084`
          sudo lsof -i -P -n | grep LISTEN

      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          overprovision-lvm: "true"
          remove-dotnet: "true"
          build-mount-path: "/var/lib/docker/"

      - name: Restart docker
        run: sudo service docker restart

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: instill-ai/instill-core

      - name: Load .env file
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .env

      - name: Launch Instill Core (${{ inputs.target }})
        run: |
          make ${{ inputs.target }} BUILD=true EDITION=local-ce:test INSTILL_CORE_HOST=api-gateway

      - name: Run console integration test (${{ inputs.target }})
        run: |
          git clone https://github.com/instill-ai/console.git
          cd console && docker build --build-arg TEST_USER='root' -f Dockerfile.playwright -t console-playwright:latest .
          docker run -t \
            -e NEXT_PUBLIC_GENERAL_API_VERSION=v1beta \
            -e NEXT_PUBLIC_MODEL_API_VERSION=v1alpha \
            -e NEXT_PUBLIC_CONSOLE_EDITION=local-ce:test \
            -e NEXT_PUBLIC_CONSOLE_BASE_URL=http://console:3000 \
            -e NEXT_PUBLIC_API_GATEWAY_URL=http://${API_GATEWAY_HOST}:${API_GATEWAY_PORT}  \
            -e NEXT_SERVER_API_GATEWAY_URL=http://${API_GATEWAY_HOST}:${API_GATEWAY_PORT}  \
            -e NEXT_PUBLIC_SELF_SIGNED_CERTIFICATION=false \
            -e NEXT_PUBLIC_INSTILL_AI_USER_COOKIE_NAME=instill-ai-user \
            --network instill-network \
            --entrypoint ./entrypoint-playwright.sh \
            --name console-integration-test \
            console-playwright:latest

      - name: Copy the test-result to host
        if: always()
        run: docker cp console-integration-test:/app/apps/console/test-results ./test-results

      - name: Upload artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-${{ inputs.target }}-console-test-results
          path: test-results
          retention-days: 1

      - name: Stop and remove console playwright
        run: |
          docker stop console-integration-test
          docker rm console-integration-test

      - name: Make down Instill Core
        run: |
          make down
