name: Make Latest

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  make-latest:
    runs-on: ubuntu-latest
    steps:
      # mono occupies port 8084 which conflicts with mgmt-backend
      - name: Stop mono service
        run: |
          sudo kill -9 `sudo lsof -t -i:8084`
          sudo lsof -i -P -n | grep LISTEN

      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          overprovision-lvm: "true"
          remove-dotnet: "true"
          build-mount-path: "/var/lib/docker/"

      - name: Restart docker
        run: sudo service docker restart

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: instill-ai/instill-core

      - name: Load .env file
        uses: cardinalby/export-env-action@v2
        with:
          envFile: .env

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Install k6
        run: |
          go install go.k6.io/xk6/cmd/xk6@v${{ env.XK6_VERSION }}
          xk6 build v${{ env.K6_VERSION }} \
            --with github.com/grafana/xk6-sql@v${{ env.XK6_SQL_VERSION }} \
            --with github.com/grafana/xk6-sql-driver-postgres@v${{ env.XK6_SQL_POSTGRES_VERSION }} && \
          sudo cp k6 /usr/bin

      - name: Launch Instill Core (latest)
        run: |
          make latest BUILD_CORE_DEV_IMAGE=true EDITION=local-ce:test

      - name: List all docker containers
        run: |
          docker ps -a
          sleep 30

      - name: Curl to Instill Core services healthcheck endpoint
        run: |
          curl -s -o /dev/null -w ''%{http_code}'\n' http://localhost:8080/core/v1beta/health/mgmt
          curl -s -o /dev/null -w ''%{http_code}'\n' http://localhost:8080/vdp/v1beta/health/pipeline
          curl -s -o /dev/null -w ''%{http_code}'\n' http://localhost:8080/model/v1beta/health/model

      - name: Tear down Instill Core (latest)
        run: |
          make down
